/* stylelint-disable */
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #e5e5e5;
  top: 0;
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

li {
  list-style: none;
}

section {
  top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Poppins', sans-serif;
  background-image: url('./Images/desktop-header.png');
  background-repeat: no-repeat;
  background-size: calc(100%);
  border-radius: 0 0 0 6rem;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #344563;
}

hr {
  margin-top: -10px;
  margin-left: -50px;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 9;
}

.main-part {
  background-color: #fff;
  min-width: 375px;
  padding-top: 80px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  width: 110%;
  padding: 14px 20px;
  align-items: center;
  height: 66px;
}

.header-logo {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #6070ff;
}

.navigation-links {
  display: none;
}

.nav-links {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  gap: 40px;
  text-decoration: none;
}

.about-me-main {
  max-width: 15rem;
}

.hover-menu:hover {
  color: #2230d2;
}

.span-name {
  color: #6070ff;
}

.welcome-message {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  z-index: 15;
  width: 80%;
}

.about-me {
  background-color: #fff;
  background-image: none;
  border-radius: 0 6rem 0 0;
  padding-top: 60px;
}

.about-me-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 50px;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  margin-top: 50px;
}

.connect:hover {
  color: #2230d2;
  transition: all 0.5s;
}

.overlay-icons {
  position: relative;
  z-index: 1;
}

.social-media-icons {
  display: flex;
  margin-top: 10px;
  margin-left: -50px;
}

.icons {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.9rem;
  padding: 12px 10px;
  height: 50px;
  gap: 3rem;
  color: blue;
  transition: all 0.3s ease-in-out;
}

.box-header {
  margin-top: -8rem;
}

.skills-paragraph {
  text-align: center;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 3rem;
  gap: 3rem;
}

.content-image {
  display: none;
}

/* Language Icons */
.icons2 .icon {
  font-size: 1.5rem;
}

.resize-icon {
  height: 15px;
}

.portfolio {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  background-image: none;
}

.portfolio-border {
  border-radius: 20px;
  border: 0.2rem solid #e5e5e5;
  background-color: #fff;
  margin-left: -9px;
  margin-top: 80px;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-image {
  margin-top: 16px;
  width: 70%;
  border: 1px solid #6070ff;
  border-radius: 20px;
}

.portfolio-image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 15px;
}

.project-info {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 12px;
  gap: 10px;
}

.project-client {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.programming-language {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 3px;
}

.project-details {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 20px;
  margin-right: 5px;
}

.languages {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-left: -15px;
}

.languages li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 10px;
  border: 8px solid #ebebff;
  margin-left: -10px;
}

.btn {
  width: 120px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #396df2;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.btn:visited {
  color: #fff;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.btn--resume {
  width: 160px;
  height: 50px;
  margin-left: -10px;
}

.tools {
  display: grid;
  grid-template-columns: 1fr;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-bottom-line {
  box-shadow: 0 1px #dfe1e6;
}

.caption {
  margin-left: -40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.left-sidebar {
  margin-top: 5px;
}

.elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  margin-left: -40px;
  margin-top: 10px;
  height: 60px;
}

.elements-text {
  margin-top: 22px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.elements-image {
  margin-top: 5px;
}

.new-break {
  margin-top: -10px;
  margin-left: -40px;
}

.contact-form {
  margin-top: 0;
  min-width: 375px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 80px 0 0 0;
  height: 760px;
  background-color: #6070ff;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  margin-right: 10px;
}

.contact-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-top: -10px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  outline: none;
}

#email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  outline: none;
}

#message {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 170px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  outline: none;
}

.btn-width {
  width: 140px;
  float: left;
  margin-top: 1px;
}

.rotate-icons:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}

.social-media-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
}

.popup {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, 0);
  width: 80%;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  overflow: scroll;
}

.closing {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  background: #c1c7d090;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
}

.project-image {
  width: 100%;
  max-height: 60rem;
}

.popup-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: -2rem;
}

.dev-tools {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 10px;
  border: 8px solid #ebebff;
}

.ul-list {
  display: flex;
  gap: 5rem;
  margin-left: -36px;
}

.popup-paragraph {
  width: 100%;
  font-size: 1rem;
}

.popup-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup ul.languages {
  width: 100%;
}

.popup .btn {
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.blog-img {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-evenly;
}

.blog-img > img {
  height: 22rem;
  width: 22rem;
  border-radius: 5px;
}

.popup .btn > img {
  margin-left: 0.5rem;
}


.error {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.blog {
  background-color: white;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.blog-heading {
  font-size: 1.2rem;
  margin-top: -3rem;
  margin-left: 2rem;
  width: 15rem;
}

.blog-heading > p {
  font-size: 1.2rem;
  margin-top: -1rem;
}


.btn-blog {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.btn-2 {
  background-color: #6070ff;
  color: white;
  width: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-blog {
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 1420px;
  display: grid;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url('https://avatars.githubusercontent.com/u/4223');
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url('https://miro.medium.com/max/1400/1*mnKlH4943o0g_oOr6J1ATg.jpeg');
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/1593079102-work-731198.jpg');
}

.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url('https://images.ctfassets.net/yr4qj72ki4ky/legacyBlogPost77Thumbnail/cd4783ad7b35efc4367166a570a9952e/bigstock-Real-Java-Script-Code-Developi-217215433.jpg');
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #ad7d52;
}

.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card-blog {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card-blog:hover {
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-link {
  text-align: center;
}

.card__by {
  font-size: 12px;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.card-blog:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card-blog:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card-blog:hover .card__info-hover {
  opacity: 1;
}

.resume-btn {
  width: 150px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: #6070ff;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-top: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-btn:hover {
  background: #0e0e0e;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: rgb(7, 0, 0);
  transform: translate(5px, 0);
  transition: 0.5s all;
}

.resume-btn:active {
  background: #020202;
  border-radius: 8px;
  color: rgb(11, 0, 0);
}

.resume-btn:visited {
  color: #fff;
}

@media (min-width: 748px) {
  .button-container {
    width: 50%;
  }

  .popup-paragraph {
    width: 50%;
  }

  section {
    background-position: 20px 0;
    width: 95rem;
  }

  .header-section {
    width: 100%;
  }

  .main-part {
    min-width: 1100px;
    padding-top: 120px;
    padding-bottom: 260px;
  }

  .my-logo {
    margin-left: 80px;
  }

  .my-logo:hover {
    transform: rotate(10deg);
    transition: 0.5s all;
  }

  .navigation-links {
    display: inline;
    margin-right: 40px;
  }

  .welcome-message {
    margin-left: 160px;
    width: 50rem;
  }

  .about-me-main {
    font-size: 20px;
    margin-top: -20px;
    background-image: none;
    margin-left: 160px;
    max-width: 55%;
  }

  .about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .about-text {
    margin-left: 100px;
  }

  .about-me-text {
    margin-left: 100px;
    margin-top: -10px;
  }

  .connect {
    margin-left: 160px;
    display: block;
  }

  .connect-bottom {
    margin-left: 100px;
    display: block;
  }

  .social-media-icons {
    margin-left: 120px;
    margin-top: 10px;
  }

  .social-media-button {
    margin-left: 60px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-border {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-image {
    margin-top: 16px;
    width: 90%;
    height: 90%;
    margin-left: 15px;
  }

  .project-section-reverse {
    order: -1;
  }

  .btn--resume {
    margin-left: 90px;
  }

  .elements {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .side-language {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
  }

  .elements:hover {
    transform: translateY(-1.2rem);
    transition: all 0.4s;
  }

  .contact-form {
    background-image: url('./Images/contact-form-background-shapes.png');
    margin-top: 4rem;
    margin-bottom: -6rem;
    width: 110%;
    margin-left: -1.5rem;
  }

  .contact-paragraph {
    max-width: 800px;
  }

  #contact-name {
    width: 60%;
  }

  #email {
    width: 60%;
  }

  #message {
    width: 60%;
  }

  .btn-width {
    margin-right: 0;
  }

  .contact {
    margin-right: 0;
  }

  #mobile-buttons {
    display: none;
  }
}

/*** Closing javascript button ***/
.mobile-menu {
  position: absolute;
  background: #6070ffee;
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.closing-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1rem;
  right: 1.6rem;
}

.mobile-menu a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 0.4rem;
}

.mobile-menu.none {
  display: none;
}

.mobile-menu .menu-li {
  list-style-type: none;
  margin-right: 20%;
  margin-bottom: 4rem;
  margin-top: 30%;
  display: flex;
}

.mobile-menu .nav-link {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 0.4rem;
  margin-right: 20rem;
  margin-top: -20px;
}

.mobile-menu .nav-link:hover {
  color: #6070ff;
  font-size: 3.4rem;
}

.mobile-menu.visible {
  display: block;
}

.cards-blog {
  display: flex;
}

.blog-heading {
  font-size: 1.2rem;
  margin-top: -3rem;
  margin-left: 2rem;
  width: 45rem;
}

#skills {
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 0 6rem 0 0;
}

.skills {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
}

.skills .box-header {
  align-self: center;
  padding: 3rem;
}

.skills .box-header .head-text {
  text-align: left;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #6070ff;
}

.skills .box-header h3 {
  font-size: 1.7rem;
}

.skills .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-self: center;
  margin-top: 5rem;
}

.box-container span {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.box-container h3 {
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  background: rgb(226, 240, 244);
  border-radius: 3px;
  position: relative;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 4px 1px 2px 0 rgba(60, 64, 67, 0.3),;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  background: rgb(244, 248, 250);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
}

.color-1 {
  color: rgba(255, 213, 5, 0.998);
}

.color-2 {
  color: blue;
}

.color-3 {
  color: rgba(255, 8, 8, 0.826);
}

.color-4 {
  color: rgb(11, 220, 4);
}

.content-image {
  position: relative;
  animation: anime-2 1.5s infinite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -15rem;
}

.content-image img {
  width: 20rem;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 30px;
  transform: translateY(-120px);
}

.content-image::before {
  content: "";
  position: absolute;
  background-image: url(/Images/react-js-icon.svg);
  background-repeat: no-repeat;
  width: 60px;
  bottom: 80%;
  right: 17%;
  height: 60px;
  z-index: 1;
}

.content-image::after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 27%;
  background-image: url(/Images/ruby-on-rails-icon.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.content-image .overlay-icons::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 34rem;
  bottom: 5rem;
  background-image: url(/Images/redux-icon.svg);
  background-repeat: no-repeat;
  animation: anime-2 1.5s infinite alternate-reverse forwards ease-in-out;
}

.content-image {
  margin-top: 1rem;
  animation: anime-2 1.5s infinite alternate-reverse forwards ease-in-out;
}

@keyframes animate {
  10% {
    transform: translateX(100px);
  }

  15% {
    transform: translateY(-100px);
  }

  20% {
    transform: translateX(200px);
  }

  25% {
    transform: translateY(-200px);
  }

  30% {
    transform: translateX(300px);
  }

  35% {
    transform: translateY(-300px);
  }

  40% {
    transform: translateX(110px);
  }

  45% {
    transform: translateY(-110px);
  }

  50% {
    transform: translateX(130px);
  }

  55% {
    transform: translateY(-130px);
  }

  60% {
    transform: translateX(150px);
  }

  65% {
    transform: translateY(-150px);
  }

  70% {
    transform: translateX(170px);
  }

  75% {
    transform: translateY(-170px);
  }

  80% {
    transform: translateX(190px);
  }

  85% {
    transform: translateY(-190px);
  }

  90% {
    transform: translateX(210px);
  }

  95% {
    transform: translateY(-210px);
  }

  100% {
    transform: translateX(100px);
  }

  105% {
    transform: translateY(-100px);
  }
}

@keyframes animate {
  10% {
    transform: translateX(100px);
  }

  15% {
    transform: translateY(-100px);
  }

  20% {
    transform: translateX(200px);
  }

  25% {
    transform: translateY(-200px);
  }

  30% {
    transform: translateX(300px);
  }

  35% {
    transform: translateY(-300px);
  }

  40% {
    transform: translateX(110px);
  }

  45% {
    transform: translateY(-110px);
  }

  50% {
    transform: translateX(130px);
  }

  55% {
    transform: translateY(-130px);
  }

  60% {
    transform: translateX(150px);
  }

  65% {
    transform: translateY(-150px);
  }

  70% {
    transform: translateX(170px);
  }

  75% {
    transform: translateY(-170px);
  }

  80% {
    transform: translateX(190px);
  }

  85% {
    transform: translateY(-190px);
  }

  90% {
    transform: translateX(210px);
  }

  95% {
    transform: translateY(-210px);
  }

  100% {
    transform: translateX(100px);
  }

  105% {
    transform: translateY(-100px);
  }
}

@keyframes anime-2 {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@media (max-width: 748px) {
  .skills-paragraph {
    margin-left: -2rem;
    width: 140%;
  }

  .resume-btn {
    margin-top: 5rem;
  }

  .content-image {
    display: none;
  }

  .social-media-icons {
    margin-left: -1.4rem;
  }

  .icons {
    width: 130%;
    margin-left: -1.5rem;
  }

  #skills {
    margin-bottom: -18rem;
  }

  .box-header {
    margin-top: -30rem;
  }

  .box-header > h3 {
    width: 200%;
    margin-left: -2rem;
  }

  .blog-heading > h2 {
    margin-top: 4rem;
    max-width: 14rem;
    text-align: center;
    margin-left: -2rem;
    font-size: 1.6rem;
  }

  .blog-heading > p {
    max-width: 14rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: -2rem;
    font-size: 1.2rem;
  }

  .cards-blog {
    display: flex;
    flex-direction: column;
    width: 200%;
    justify-content: center;
    margin-left: 2rem;
  }

  .btn-2 {
    width: 100%;
  }

  .contact-me {
    max-width: 120%;
  }
}
